language: ruby
rvm:
- 2.2.5
env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer
  - secure: hY2DB916/QKEU951ogewmRTio+9oaZIOaDABMEvKTdDPB+1fjJ97JeiawJOAwTA4DrMxAiFl75I1ZbVdKZv2i41l0zc4pUA/QEZcpbfGEHFqvKBo75KQDvtXrNnQ+mjPonPGXkLHvIFVeKQ8Nuu3SbKekDrDCfa+8fLoFdp05iDOsg1DOubhrNfFCSahpPy8+AonWf7H3XjIsnjYc1SJaQqkkURT3FqjURgeIk0nYLVae7qj2FLpEgyGWID+wAS7T4ucqbayQUOpeI5cKt3yeU0OuM+rL436W7tL76mEkEQRbUk7uBE+Lf6pS3QIEQSmNbWd4qaxccTR7IREjwg6vVQ3IbLSmmWtdE7HFn0KHPvXUE6yecAc0UQltCkA5jF1YJ2ENSgvpyspoXYbrBd5h8pBJ72ynnIZLg4ATEn0CeOofhGEmFOZ9c9x3ivGu8VbH60k5pVv1lDQpDvpySW8UaFK6PcGGqSwipPj/K/zK8grVBJN4ui5YlHG4kvLRiUSI6aHa/63rr2ghgdfrRMiFMB4YJG+bzPorE1ZgtoVrWTQ/T6QorPqZfYg2l/N+0ISCIAG+llXfryGo/dSjo6hwxtyKvQWu51f4P6KEQTOb5hJGAzOz4PI04NNiyLs4JZbKoii0JgMieVk9jUGFkE47JQU4cHTdSo3Th8YrSDuYTA=
  - secure: MlkA3smkhTUvMAiwq8/PLtFdU1j8YXXiRbKVgkZiZTSF4O0o2rQkEascJnCj4kIRKRS6YyEcfFhkplxvibQo5qDhpEoeB20NX/VgXAsgjpmkD2kUQSKHJImnkQeHhIdadAhmwpb2qKcFE2ctSnQwpo6cjr706+LNY0yToSQIj4xuhbAhkQzqfQkwuCqNn5G1KFAdNYkZ/MV+WXZoRk1d/lp7FLR1snWKrxl+z7r8AItMZOBC6XzKaOn1+Rxl6BryFJm8Tl/CYXnjYlcYLawdaYy7tB7kWPKg7m9P8ij1eX1EYqfeGfigPmKxb977CiSlYrNZ3Qu45paogwPrYMP67vVjLQ2YPATyguKXf3sGApXSTBnTgLrvhBNNldVn9pe8NRhGic2pejt8r0IoILUTAPf4YJVE8EVV1JLe0Kzz2h2XEgDMO/Y8cXCY3gxzq7V/MSiI73c151NZ6f/+BEXpCxjkteL9tNuyTNQD7HXuiZv0VQ+0IoeHxpdP3hyHtCP69z5PiERZiX77ylr8v+kT6T50/ZON3G71l02FUo0G98jW/B8Q3dwHvG31lEc+56WCcesmKASOLxyuKZHmZu7++8kl9et+yGmFkOnFtxAkf9iwCds4WVg1EuCtvS27kbgdOhv362L3d0TVmABRIeHMpFI9d7OSVz5oeQNTyIZShF4=
  - secure: t9+/1f7fHfZvjzcm+kDV15iHufXg/Oi18zMDfmWE7VpK0qku07T6wlLl/Ko3Lm/8BUK15SNWw1L5q0ZoA4Yf9XrFUeVQOURz15EFknU84y42xjcClGBi5GCE8//LXtane70arAxw1k4qUeIY0/bjJKhgTARXqFjZD/OEYvHvv0QqE2jR4/yGlF4fZH5GwkN+CRRYT+75qjw0NKoxXQ+rkDjlVaZMOB92kXxsYPzpYcycxNlp10OHBZSflifv0XqsTPqiGBW2vCVxSHMENnfoRAj+JmWE5ITPbjXgV4no+4AytLAuDG8xTeUGayT1hVAqAx2Th/gi+aLyGnqRB/pOp9lH48WqBQ8/dRzxO21BQOxVjNAg2MG7HtbYwqm5ypqnLSBOd+ZyQNjYtL5nGkijz3oKddkPpV10T66uDM2KwQ5SedYXCuTXvGIpA3imbUNGY8JmmAKdNViDiDsvU0xCpLCE8RfxCJEHOwCC4I11YdStLZLN88PLPZgtgdYGT1U00PIxFyGvyde47FCXACxOZNaaXgJEHsUy88bSZuT0nBKBuXi1qGqktLhFqQ6u9Khf+/fWZTeCIQ9NsjA26Z7PhFPCrvZIm5Enm6mC3fieBbh53lgrBy4Dozu4pJwSIyGMOALIPLmYQmFG45G7gY9DjYlcbjL6umLkEw7GXw98sQA=

install:
  - bundle install
  - sudo pip install pytest

script:
  - jekyll build
  - htmlproofer ./_site --allow-hash-href --internal-domains napalm-automation.net --http-status-ignore 999 --check-html
  - cp _site-validation/site-validation.md _pages
  - jekyll build
  - pytest

after_success:
  - make purge
