<!-- JS Global Compulsory -->
<script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js?cache_id={{ cache_timestamp }}"></script>
<script type="text/javascript" src="/assets/plugins/jquery/jquery-migrate.min.js?cache_id={{ cache_timestamp }}"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js?cache_id={{ cache_timestamp }}"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="/assets/plugins/back-to-top.js?cache_id={{ cache_timestamp }}"></script>
<script type="text/javascript" src="/assets/plugins/smoothScroll.js?cache_id={{ cache_timestamp }}"></script>
<script type="text/javascript" src="/assets/plugins/jquery.parallax.js?cache_id={{ cache_timestamp }}"></script>
<script type="text/javascript" src="/assets/plugins/counter/waypoints.min.js?cache_id={{ cache_timestamp }}"></script>
<script type="text/javascript" src="/assets/plugins/counter/jquery.counterup.min.js?cache_id={{ cache_timestamp }}"></script>

<script type="text/javascript" src="/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js?cache_id={{ cache_timestamp }}"></script>
<script type="text/javascript" src="/assets/plugins/layer-slider/layerslider/js/greensock.js?cache_id={{ cache_timestamp }}"></script>
<script type="text/javascript" src="/assets/plugins/layer-slider/layerslider/js/layerslider.transitions.js?cache_id={{ cache_timestamp }}"></script>
<script type="text/javascript" src="/assets/plugins/layer-slider/layerslider/js/layerslider.kreaturamedia.jquery.js?cache_id={{ cache_timestamp }}"></script>
<!-- JS Customization -->
<script type="text/javascript" src="/assets/js/custom.js?cache_id={{ cache_timestamp }}"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="/assets/js/app.js?cache_id={{ cache_timestamp }}"></script>
<script type="text/javascript" src="/assets/js/plugins/layer-slider.js?cache_id={{ cache_timestamp }}"></script>
<script type="text/javascript" src="/assets/js/plugins/owl-carousel.js?cache_id={{ cache_timestamp }}"></script>
<script type="text/javascript" src="/assets/js/plugins/owl-recent-works.js?cache_id={{ cache_timestamp }}"></script>




<script type="text/javascript">
  jQuery(document).ready(function() {
    App.init();
    App.initCounter();
    LayerSlider.initLayerSlider();
    OwlCarousel.initOwlCarousel();
    OwlRecentWorks.initOwlRecentWorksV2();
  });
</script>
<!--[if lt IE 9]>
<script src="assets/plugins/respond.js?cache_id={{ cache_timestamp }}"></script>
<script src="assets/plugins/html5shiv.js?cache_id={{ cache_timestamp }}"></script>
<script src="assets/plugins/placeholder-IE-fixes.js?cache_id={{ cache_timestamp }}"></script>
<![endif]-->
