<!--=== Footer Version 1 ===-->
<div class="footer-v1">
  <div class="footer">
    <div class="container">
      <div class="row">
        <!-- About -->
        <div class="col-md-3 md-margin-bottom-40">
          <div class="headline"><h2>About Napalm</h2></div>
          <p>Napalm is a vendor neutral, cross-platform open source project that provides a unified API to network devices.</p>
        </div><!--/col-md-3-->
        <!-- End About -->

        <!-- Latest -->
        <div class="col-md-3 md-margin-bottom-40">
          <div class="posts">
            <div class="headline"><h2>Latest Posts</h2></div>
            <ul class="list-unstyled latest-list">
              {% for post in site.posts limit:3 %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
                <small>{{ post.date | date: '%B %d, %Y' }}</small>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div><!--/col-md-3-->
        <!-- End Latest -->

        <!-- Link List -->
        <div class="col-md-3 md-margin-bottom-40">
          <div class="headline"><h2>Useful Links</h2></div>
          <ul class="list-unstyled link-list">
            <li><a href="{{ site.url }}/community/">Community</a><i class="fa fa-angle-right"></i></li>
            <li><a href="https://github.com/napalm-automation">Napalm on GitHub</a><i class="fa fa-angle-right"></i></li>
            <li><a href="https://napalm.readthedocs.io/">Documentation</a><i class="fa fa-angle-right"></i></li>
          </ul>
        </div><!--/col-md-3-->
        <!-- End Link List -->

        <!-- Address -->
        <div class="col-md-3 map-img md-margin-bottom-40">
          <div class="headline"><h2>Contact Us</h2></div>
          <address class="md-margin-bottom-40">
            Currently the best way to <br />
            reach us via the #napalm channel <br />
            in <a href="https://networktocode.herokuapp.com/">Network to Code Slack</a> <br />
            <br />
            Or you can create an issue under the appropriate repo over at <a href="https://github.com/napalm-automation">GitHub</a>
          </address>
        </div><!--/col-md-3-->
        <!-- End Address -->
      </div>
    </div>
  </div><!--/footer-->

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>
            2017 &copy; All Rights Reserved.
          </p>
        </div>

        <!-- Social Links -->
        <div class="col-md-6">
          <ul class="footer-socials list-inline">
            <li>
              <a href="https://github.com/{{ site.author.github }}" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="GitHub">
                <i class="fa fa-github"></i>
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com/{{ site.author.twitter }}" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="{{ site.url }}/feed.xml" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="RSS Feed">
                <i class="fa fa-rss"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- End Social Links -->
      </div>
    </div>
  </div><!--/copyright-->
</div>
