<!-- Blog Sidebar -->
<div class="col-md-3">

  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}


  <div class="headline-v2"><h2>Latest Posts</h2></div>
  <!-- Latest Links -->
  <ul class="list-unstyled blog-latest-posts margin-bottom-50">
    <li>
      <h3><a href="#">Wireframe for the news view...</a></h3>
      <small>5 Jan, 2015 / <a href="#">Web,</a> <a href="#">Webdesign</a></small>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam odio leo.</p>
    </li>
    <li>
      <h3><a href="#">It is a long established fact that a reader</a></h3>
      <small>17 Jan, 2015 / <a href="#">Artificial Intelligence</a></small>
      <p>Pellentesque efficitur blandit dui, porta cursus velit imperdiet sit amet.</p>
    </li>
    <li>
      <h3><a href="#">The point of using Lorem Ipsum</a></h3>
      <small>19 Jan, 2015 / <a href="#">Hi-Tech,</a> <a href="#">Technology</a></small>
      <p>Phasellus ullamcorper pellentesque ex. Cras venenatis elit orci, vitae dictum elit egestas a. Nunc nec auctor mauris, semper scelerisque nibh.</p>
    </li>
    <li>
      <h3><a href="#">Many desktop publishing packages...</a></h3>
      <small>23 Jan, 2015 / <a href="#">Art,</a> <a href="#">Lifestyles</a></small>
      <p>Integer vehicula sed justo ac dapibus. In sodales nunc non varius accumsan.</p>
    </li>
  </ul>
  <!-- End Latest Links -->



  <div class="headline-v2"><h2>Newsletter</h2></div>
  <!-- Blog Newsletter -->
  <div class="blog-newsletter">
    <p>Subscribe to our newsletter for good news, sent out every month.</p>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Email">
      <span class="input-group-btn">
        <button class="btn-u" type="button">Subscribe</button>
      </span>
    </div>
  </div>
  <!-- End Blog Newsletter -->
</div>
<!-- End Blog Sidebar -->
