---
layout: default
---
<!--=== Interactive Slider ===-->
<div class="breadcrumbs-v3 img-community text-center">
  <div class="container">
    <h1>Be a part of the Napalm community</h1>
  </div>
</div>

<!--=== Title v1 ===-->
<div class="container content-sm">
  <div class="title-v1 no-margin-bottom">
    <p class="no-margin-bottom">Napalm is a <strong>community effort</strong> and wouldn't be possible if people like you didn't spend time on improving the project. <br>
      There are many ways in which you <strong>can help</strong> make Napalm even better.</p>
    </div>
  </div>
  <!--=== End Title v1 ===-->

  <!--=== Service Block v4 ===-->
  <div class="service-block-v4">
    <div class="container content-sm">
      <div class="row">
        <div class="col-md-4 service-desc md-margin-bottom-50">
          <i class="fa fa-code-fork"></i>
          <h3>Development</h3>
          <p>A growing number of people are writing code for the Napalm project. Napalm is written in Python and even if you aren't an expert you can not only help the project but it can also be a learning experience for yourself if you learn to develop code in a collaborative effort.</p>
        </div>
        <div class="col-md-4 service-desc md-margin-bottom-50">
          <i class="fa fa-pencil"></i>
          <h3>Write Documentation</h3>
          <p>You don't have to know how to code in order to help make Napalm better. You can also help with writing documentation or tutorials so that others can get started with the project even quicker.</p>
        </div>
        <div class="col-md-4 service-desc">
          <i class="icon-support"></i>
          <h3>Testing</h3>
          <p>While we try to test the software thoroughly we are only humans, and humans make mistakes. That's one of the reasons we like network automation, right? Often one network device behaves slightly different from another. You can help with finding these situations by testing against your own devices.</p>
        </div>
      </div><!--/end row-->
      <div class="row">
        <div class="col-md-4 service-desc md-margin-bottom-50">
          <i class="fa fa-bug"></i>
          <h3>Report bugs</h3>
          <p class="no-margin-bottom">Napalm doesn't have any phone home capability, if you run into a bug it won't get fixed unless you report it as an issue. Chances are that the developers aren't running the same hardware as you, or you run into something we haven't seen. It's impossible for us to fix if we don't know there's a problem.</p>
        </div>
        <div class="col-md-4 service-desc md-margin-bottom-50">
          <i class="fa fa-comments-o"></i>
          <h3>Help others</h3>
          <p class="no-margin-bottom">Napalm doesn't have any paid support option, if you run into a problem you turn to the community for help. The community needs people who are willing to assist those in need of help. You could be one of those people who help others!</p>
        </div>
        <div class="col-md-4 service-desc">
          <i class="fa fa-bullhorn"></i>
          <h3>Spread the word</h3>
          <p class="no-margin-bottom">Even if you're unable to help with the project itself, you can still help us by spreading the word about the Napalm automation project. As the word spreads it will draw more people to the project, which means more people who can write code, documentation and file bug reports. Let your social networks know about us!</p>
        </div>
      </div><!--/end row-->


    </div><!--/end container-->
  </div>
  <!--=== End Service Block v4 ===-->


  <!--=== Our Skills ===-->
  <div class="container content-sm">
    <div class="headline-center margin-bottom-60">
      <h2>Join the community!</h2>
    </div>

    <div class="row">
      <div class="col-sm-6 md-margin-bottom-50">
        <p>We communicate using Slack and you will find us in the Network to Code Slack team in the #napalm channel.</p>
        <p>Slack is great for talking and solving problems in the moment or asking questions. However bug reports and new code should be posted to GitHub instead.</p>
        <br />
        <a href="https://networktocode.herokuapp.com/" class="btn-u">Join the Slack team</a>
      </div>
      <div class="col-sm-6 md-margin-bottom-50">
        <p>All of the code for the Napalm project is under the <a href="https://github.com/napalm-automation">napalm-automation GitHub organization</a>.</p>
        <p>The various network drivers of Napalm share a common base under the <a href="https://github.com/napalm-automation/napalm-base">napalm-base repo</a></p>
        <p>Issues and pull requests for specific drivers should go into their own repositories. So Cisco IOS issues should be reported to the <a href="https://github.com/napalm-automation/napalm-ios">napalm-ios</a> repo. Arista EOS in <a href="https://github.com/napalm-automation/napalm-eos">napalm-eos</a>, Juniper Junos in <a href="https://github.com/napalm-automation/napalm-junos">napalm-junos</a> and so on.</p>
      </div>
    </div><!--/end row-->
  </div>
  <!--=== End Our Skills ===-->
