---
layout: default
---

<div class="interactive-slider-v2 interactive-slider-v2-md img-home">
  <div class="container">
    <h1 class="cd-headline letters type">
      <span>Napalm</span>
    </h1>
    <p>Network Automation for the people, by the people.</p>
  </div>
</div>
<!-- End Interactive Slider v2 -->


<div class="bg-grey">
  <div class="container content-sm">
    <div class="text-center margin-bottom-50">
      <h2 class="title-v2 title-center">What is Napalm?</h2>
      <p class="space-lg-hor">Napalm is a <strong>vendor neutral</strong>, cross-platform open source project that provides a unified API to network devices.</p>
    </div>
  </div>
</div>
<!--=== End News Block ===-->

<div class="bg-grey">
  <div class="container content-sm margin-bottom-10">
    <div class="text-center">
      <h2 class="title-v2 title-center">Napalm plays nice with others!</h2>
      <p class="space-lg-hor">Napalm is written in Python and already works with the most popular automation frameworks.</p>
    </div>
  </div>
</div>


<!--=== Colorful Service Blocks ===-->
<div class="container-fluid">
  <div class="row no-gutter equal-height-columns">
    <div class="col-sm-4">
      <div class="service-block service-block-purple no-margin-bottom content equal-height-column">
        <i class="icon-custom icon-md rounded icon-color-light icon-line fa fa-gear"></i>
        <h2 class="heading-md font-light">Ansible</h2>
        <p class="no-margin-bottom font-light">While Ansible provide their own modules for networking, Napalm works completely different. A lot of organizations are using Ansible together with our Napalm-Ansible modules.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="service-block service-block-red no-margin-bottom content equal-height-column">
        <i class="icon-custom icon-md rounded icon-color-light icon-line fa fa-cubes"></i>
        <h2 class="heading-md font-light">Salt</h2>
        <p class="no-margin-bottom font-light">Salt is a powerful and flexible open source software for remote execution, configuration automation, cloud control and event-driven orchestration. Since version 2016.11, Napalm is fully integrated with Salt and ships along with it.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="service-block service-block-sea no-margin-bottom content equal-height-column">
        <i class="icon-custom icon-md rounded icon-color-light icon-line icon-directions"></i>
        <h2 class="heading-md font-light">StackStorm</h2>
        <p class="no-margin-bottom font-light">StackStorm is an event driven automation framework that wires together your apps, services and workflows. StackStorm has created an integration pack for Napalm.</p>
      </div>
    </div>
  </div>
</div>
<!--=== End Colorful Service Blocks ===-->

<div class="bg-grey">
  <div class="container content-sm">
    <div class="text-center margin-bottom-50">
      <h2 class="title-v2 title-center">Do it yourself with code!</h2>
      <p class="space-lg-hor">You don't have to use an existing automation framework to automate with Napalm. Since it's an open source library you could just integrate it with your own Python application.</p>
    </div>
  </div>
</div>

  <!-- Testimonials Wrap -->
  <div class="testimonials-v6 testimonials-wrap">
    <div class="headline-center">
      <h2>What people are saying</h2>
      <p>People around the world are using Napalm to automate their network.<br>
        Below are some examples of what people think about the project. Please note that this is based on our assumptions about what we think they are saying.</p>
    </div>

    <div class="row margin-bottom-50">
      <div class="col-md-6 md-margin-bottom-50">
        <div class="testimonials-info rounded-bottom bg-color-light">
          <img class="rounded-x" src="/assets/img/logo.png" alt="Logo">
          <div class="testimonials-desc">
            <p>"Napalm has helped me so much, it's so easy to use I never want to leave work!"</p>
            <strong>Evan Bohringer</strong>
            <span>Sr. Network Engineers</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="testimonials-info rounded-bottom bg-color-light">
          <img class="rounded-x" src="/assets/img/logo.png" alt="Logo">
          <div class="testimonials-desc">
            <p>"I love the smell of automation in the mornings!"</p>
            <strong>Sara Lisbon</strong>
            <span>Systems Engineer, Global Cosmetics Corperation</span>
            <br />
          </div>
        </div>
      </div>
    </div><!--/end row-->

    <div class="row margin-bottom-20">
      <div class="col-md-6 md-margin-bottom-50">
        <div class="testimonials-info rounded-bottom bg-color-light">
          <img class="rounded-x" src="/assets/img/logo.png" alt="Logo">
          <div class="testimonials-desc">
            <p>"I respect my husband a lot more after he started using Napalm to automate his network at work."</p>
            <strong>Alice Williams</strong>
            <span>Soccer Mom, Rural Nebraska</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="testimonials-info rounded-bottom bg-color-light">
          <img class="rounded-x" src="/assets/img/logo.png" alt="Logo">
          <div class="testimonials-desc">
            <p>"I used to configure access-lists all day long. With Napalm I'm done in twenty minutes and can play Cookie Clicker all day!"</p>
            <strong>Jane Wearne</strong>
            <span>Ex CLI Junkie</span>
          </div>
        </div>
      </div>
    </div><!--/end row-->
  </div>
  <!-- End Testimonials Wrap -->


<!--=== Parallax Counter v4 ===-->
<div class="parallax-counter-v4 parallaxBg">
  <div class="container content-sm">
    <div class="row">
      <div class="col-md-3 col-xs-6 md-margin-bottom-50">
        <i class="fa fa-star"></i>
        <span class="counter">{{ site.data.front_stats.stars }}</span>
        <h4>Stars on GitHub</h4>
      </div>
      <div class="col-md-3 col-xs-6 md-margin-bottom-50">
        <i class="fa fa-users"></i>
        <span class="counter">{{ site.data.front_stats.contributors }}</span>
        <h4>Contributors</h4>
      </div>
      <div class="col-md-3 col-xs-6">
        <i class="fa fa-cogs"></i>
        <span class="counter">{{ site.data.front_stats.num_drivers }}</span>
        <h4>Network Drivers</h4>
      </div>
      <div class="col-md-3 col-xs-6">
        <i class="icon-bulb"></i>
        <span class="counter">{{ site.data.front_stats.ideas }}</span>
        <h4>New Ideas</h4>
      </div>
    </div><!--/end row-->
  </div><!--/end container-->
</div>

<!--=== End Parallax Counter v4 ===-->

<!--=== News Block ===-->
<div class="container content-sm">
  <div class="text-center margin-bottom-50">
    <h2 class="title-v2 title-center">RECENT NEWS</h2>
  </div>

  <div class="row news-v2">
   {% for post in site.posts limit:3 %}
   {% if site.data.authors[post.author] %}
     {% assign author = site.data.authors[post.author] %}
   {% else %}
     {% assign author = site.author %}
   {% endif %}
   {% include load-profile-variable.html %}

    <div class="col-md-4 md-margin-bottom-30">
      <div class="news-v2-desc bg-color-light">
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <small>By {% if profile %}<a href="{{ site.url }}{{ profile.url }}">{{ author.name }}</a>{% else %}{{ author.name }}{% endif %} / {{ post.date | date: '%B %d, %Y' }}</small>
        <p>{{ post.excerpt | strip_html }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="text-center margin-bottom-50">
    <br />
    <p class="space-lg-hor"><a href="{{ site.url }}/news/"><button class="btn-u btn-u-orange" type="button">More news</button></a>
</p>
  </div>


</div>
<!--=== End News Block ===-->




{{ content }}
