---
layout: default
---

<div class="interactive-slider-v2 interactive-slider-v2-md img-v3">
  <div class="container">
    <h1 class="cd-headline letters type">
      <span>Napalm</span>
    </h1>
    <p>Network Automation for the people, by the people.</p>
  </div>
</div>
<!-- End Interactive Slider v2 -->


<div class="bg-grey">
  <div class="container content-sm">
    <div class="text-center margin-bottom-50">
      <h2 class="title-v2 title-center">What is Napalm?</h2>
      <p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-green">this the first</span> true generator on the Internet.</p>
    </div>
  </div>
</div>
<!--=== End News Block ===-->

<div class="bg-grey">
  <div class="container content-sm margin-bottom-10">
    <div class="text-center">
      <h2 class="title-v2 title-center">Napalm plays nice with others!</h2>
      <p class="space-lg-hor">Napalm is written in Python and already works with the most popular automation frameworks.</p>
    </div>
  </div>
</div>


<!--=== Colorful Service Blocks ===-->
<div class="container-fluid">
  <div class="row no-gutter equal-height-columns margin-bottom-10">
    <div class="col-sm-4">
      <div class="service-block service-block-purple no-margin-bottom content equal-height-column">
        <i class="icon-custom icon-md rounded icon-color-light icon-line icon-badge"></i>
        <h2 class="heading-md font-light">Ansible</h2>
        <p class="no-margin-bottom font-light">Provide; shifting landscape reduce carbon emissions human potential sustainability Jane Addams solve. Global network; care Rockefeller, vaccines equal opportunity human being.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="service-block service-block-red no-margin-bottom content equal-height-column">
        <i class="icon-custom icon-md rounded icon-color-light icon-line icon-fire"></i>
        <h2 class="heading-md font-light">Salt</h2>
        <p class="no-margin-bottom font-light">Provide; shifting landscape reduce carbon emissions human potential sustainability Jane Addams solve. Global network; care Rockefeller, vaccines equal opportunity human being.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="service-block service-block-aqua no-margin-bottom content equal-height-column">
        <i class="icon-custom icon-md rounded icon-color-light icon-line icon-directions"></i>
        <h2 class="heading-md font-light">Stackstorm</h2>
        <p class="no-margin-bottom font-light">Provide; shifting landscape reduce carbon emissions human potential sustainability Jane Addams solve. Global network; care Rockefeller, vaccines equal opportunity human being.</p>
      </div>
    </div>
  </div>
</div>
<!--=== End Colorful Service Blocks ===-->

<div class="bg-grey">
  <div class="container content-sm">
    <div class="text-center margin-bottom-50">
      <h2 class="title-v2 title-center">Do it yourself with code!</h2>
      <p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-green">this the first</span> true generator on the Internet.</p>
    </div>
  </div>
</div>

  <!-- Testimonials Wrap -->
  <div class="testimonials-v6 testimonials-wrap">
    <div class="headline-center">
      <h2>What people are saying</h2>
      <p>Phasellus vitae ipsum ex. Etiam eu vestibulum ante. <br>
        Lorem ipsum <strong>dolor</strong> sit amet, consectetur adipiscing elit. Morbi libero libero, imperdiet fringilla </p>
    </div>

    <div class="row margin-bottom-50">
      <div class="col-md-6 md-margin-bottom-50">
        <div class="testimonials-info rounded-bottom bg-color-light">
          <img class="rounded-x" src="/assets/img/logo.png" alt="Logo">
          <div class="testimonials-desc">
            <p>Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit.</p>
            <strong>Evan Bohringer</strong>
            <span>Web Developer</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="testimonials-info rounded-bottom bg-color-light">
          <img class="rounded-x" src="/assets/img/logo.png" alt="Logo">
          <div class="testimonials-desc">
            <p>Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit.</p>
            <strong>Sara Lisbon</strong>
            <span>Designer</span>
          </div>
        </div>
      </div>
    </div><!--/end row-->

    <div class="row margin-bottom-20">
      <div class="col-md-6 md-margin-bottom-50">
        <div class="testimonials-info rounded-bottom bg-color-light">
          <img class="rounded-x" src="/assets/img/logo.png" alt="Logo">
          <div class="testimonials-desc">
            <p>Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit.</p>
            <strong>Alice Williams</strong>
            <span>Web Developer</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="testimonials-info rounded-bottom bg-color-light">
          <img class="rounded-x" src="/assets/img/logo.png" alt="Logo">
          <div class="testimonials-desc">
            <p>Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit.</p>
            <strong>Jane Wearne</strong>
            <span>Technical Direector</span>
          </div>
        </div>
      </div>
    </div><!--/end row-->
  </div>
  <!-- End Testimonials Wrap -->


<!--=== Parallax Counter v4 ===-->
<div class="parallax-counter-v4 parallaxBg">
  <div class="container content-sm">
    <div class="row">
      <div class="col-md-3 col-xs-6 md-margin-bottom-50">
        <i class="fa fa-star"></i>
        <span class="counter">700</span>
        <h4>Stars on GitHub</h4>
      </div>
      <div class="col-md-3 col-xs-6 md-margin-bottom-50">
        <i class="fa fa-users"></i>
        <span class="counter">70</span>
        <h4>Contributors</h4>
      </div>
      <div class="col-md-3 col-xs-6">
        <i class="fa fa-code"></i>
        <span class="counter">78000</span>
        <h4>Lines of code</h4>
      </div>
      <div class="col-md-3 col-xs-6">
        <i class="icon-bulb"></i>
        <span class="counter">576</span>
        <h4>New Ideas</h4>
      </div>
    </div><!--/end row-->
  </div><!--/end container-->
</div>

<!--=== End Parallax Counter v4 ===-->




{{ content }}
