---
layout: paginated
---
{% if site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}
{% include load-profile-variable.html %}

<div class="news-v3 bg-color-white margin-bottom-30">
  <div class="news-v3-in">
    <h2>{{ page.title }}</h2>
    <ul class="list-inline posted-info">
      <li>By {% if profile %}<a href="{{ site.url }}{{ profile.url }}">{{ author.name }}</a>{% else %}{{ author.name }}{% endif %}</li>
      <li>Posted {{ page.date | date: '%B %d, %Y' }}</li>
    </ul>

    {{ content }}

  </div>
</div>
<!-- End News v3 -->
