---
layout: default
---
{% assign filename = page.path | split:"." | first %}
{% assign author = filename | split:"/" | last %}
{% assign profile = site.data.authors[author] %}



<!-- About Me Block -->
<div class="container content-sm">
  <div class="row about-me">
    <div class="col-sm-4 shadow-wrapper md-margin-bottom-40">
      <div class="box-shadow shadow-effect-2">
        <img class="img-responsive img-bordered full-width" src="/images/profiles/{{ profile.avatar_440 }}" alt="{{ profile.name }}">
      </div>
    </div>

    <div class="col-sm-8">
      <div class="overflow-h">
        <div class="pull-left">
          <h2>{{ profile.name }}</h2>
          <span>{{ profile.title }}</span>
        </div>
        <ul class="social-icons pull-right">
          {% if profile.github %}
          <li><a class="rounded-x social_github" data-original-title="GitHub" href="https://github.com/{{ profile.github }}"></a></li>
          {% endif %}
          {% if profile.twitter %}
          <li><a class="rounded-x social_twitter" data-original-title="Twitter" href="https://www.twitter.com/{{ profile.twitter }}"></a></li>
          {% endif %}
          {% if profile.linkedin %}
          <li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="https://www.linkedin.com/in/{{ profile.linkedin }}"></a></li>
          {% endif %}
        </ul>
      </div>
        {{ content }}

    </div>
  </div>
</div>
<!-- End About Me Block -->
