---
layout: default
---

<div class="container content">
  <div class="row">
    <div class="col-md-12">
      <div class="headline"><h2>Our Projects</h2></div>
{% for project in site.data.projects %}

      <!-- Clients Block-->
      <div class="row clients-page">
        <div class="col-md-2">
          <img src="{{ project.logo }}" class="img-responsive hover-effect" alt="{{ project.name }}" />
        </div>
        <div class="col-md-10">
          <h3>{{ project.name }}</h3>
          <p>{{ project.description }}</p>
          <ul class="list-inline">
            <li><a href="{{ project.github }}"><i class="fa fa-github"></i> Source Code</li>
            <li><a href="{{ project.docs }}"><i class="fa fa-book"></i> Documentation</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <!-- End Clients Block-->
{% endfor %}

    </div><!--/col-md-12-->




  </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->